
          #container {
            text-align: justify;
            width: 45%;
            margin-left: 27.5%;
          }

          #no1 {
            display: flex;
            gap: 15px;
            align-items: center;
          }
          #no2 {
            display: flex;
            gap: 15px;
          }

          #no2 > div > img {
            padding-top: 15px;
          }
            
          #no2 > div > p {
            
            color:  rgb(168, 168, 168);
            font-size:smaller;
          }
          #recomm {            
            color:  #10a310;
            letter-spacing: 2px;
          }

          #no3 {
            display: flex;
            gap: 15px;
          }

          #no3 > div > img {
            padding-top: 15px;
          }
            
          #no3 > div > p {
            
            color:  rgb(168, 168, 168);
            font-size:smaller;
          }

          #no4 {
            background-color: rgb(245,245,245);
          }

          #no4 > p {
            margin-left: 10px;
          }
          
          #box {  
            font-size:smaller;
            height: 90px;
            width: 95%;
            margin-left: 10px;;
          
          }
           
          #num1 {
            display: flex;
            gap: 15px;
            align-items: center;
          }

          #num2 {
            display: flex;
            gap: 15px;
          }
          #num3 {
            display: flex;
            gap: 15px;
          }
          #num4 {
            display: flex;
            gap: 15px;
          }

           a {
            color:  #10a310;
           }
           
           button{
               width: 100%;
               background-color: #10a310;
               height: 50px;
               border: none;
               color: white;
               font-size: large;
               font-weight: bold;
               border-radius: 10px;
              margin-bottom: 20px; 
              cursor: pointer;
           }
           button:hover {
               background-color: green;
           }

          
           #footer {
            display: flex;
            justify-content:space-between;
            margin-bottom: 10px;
            width: 97%;

           }

           #num2 > div > img {
            margin-top: 15px;
           }
           #num3 > div > img {
            margin-top: 15px;
           }
           #num4 > div > img {
            margin-top: 15px;
           
           }
           #disc {
            margin-top: 15px;
           }
           #chbox {
             margin-top: 25px;
             /* margin-right: 5%; */
           }

