/** @format */
#details {
  /* border: 2px solid black; */
  height: 450px;
}
.pok {
  padding: 20px;
  height: 80px;
  /* border: 2px solid black; */
  background-color: rgb(245, 245, 245);
}
.h {
  margin-bottom: 10px;
}
.divi {
  width: 5%;
  /* border: 2px solid #10a310; */
}
.content {
  background-color: rgb(245, 245, 245);
}

.date {
  /* border: 2px solid black; */
  /* width: 20px; */
  /* height: 30px; */
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
}
.ozxc {
  width: 40%;
  margin-left: 320px;
  /* margin-bottom: 900px; */
  /* margin-left: -10px; */
  margin-top: -10px;
}
#kol {
  background-color: rgb(240, 244, 255);

  color: rgb(101, 115, 202);
  border-radius: 5px;
}
#container {
  text-align: justify;
  width: 45%;
  /* height: 130%; */
  margin-bottom: 70px;
  margin-left: 27.5%;
}

#no1 {
  display: flex;
  gap: 15px;
  align-items: center;
}
#no2 {
  display: flex;
  gap: 15px;
}

#no2 > div > img {
  padding-top: 15px;
}

#no2 > div > p {
  color: rgb(168, 168, 168);
  font-size: smaller;
}
#recomm {
  color: #10a310;
  letter-spacing: 2px;
}

#no3 {
  display: flex;
  gap: 15px;
}

#no3 > div > img {
  padding-top: 15px;
}

#no3 > div > p {
  color: rgb(168, 168, 168);
  font-size: smaller;
}

#no4 {
  background-color: rgb(245, 245, 245);
}

#no4 > p {
  margin-left: 10px;
}

#box {
  font-size: smaller;
  height: 90px;
  width: 95%;
  margin-left: 10px;
}
#chbox {
  cursor: pointer;
}

#num1 {
  display: flex;
  gap: 15px;
  align-items: center;
}

#num2 {
  display: flex;
  gap: 15px;
}
#num3 {
  display: flex;
  gap: 15px;
}
#num4 {
  display: flex;
  gap: 15px;
}

a {
  color: #10a310;
}

button {
  width: 100%;
  background-color: rgb(128,128,128);
  height: 50px;
  border: none;
  color: white;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;

  width: 45%;
  margin-left: 27.5%;
}


#footer {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
  width: 45%;
  margin-left: 27%;
  line-height: 10px;
  margin-top: 5px;
}

#footermain {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  /* top: 600px; */
  bottom: 0px;
  width: 100%;
  background-color: white;
}

#num2 > div > img {
  margin-top: 15px;
}
#num3 > div > img {
  margin-top: 15px;
}
#num4 > div > img {
  margin-top: 15px;
}
#disc {
  margin-top: 15px;
}
#chbox {
  margin-top: 25px;
  /* margin-right: 5%; */
}

#payment {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 300px;
}

@media screen and (max-width: 899px) {
  
  .ozxc {
    margin: auto;
  }

  #box {
    overflow: scroll;
  }
}
